<div class="input-group">
  <input
    type="text"
    class="form-control"
    uib-datepicker-popup
    ng-model="formCtrl.viewModel[elem.fieldName]"
    ng-change="formCtrl.validateField(elem.fieldName)"
    is-open="formCtrl.date[elem.fieldName].opened"
    min-date="minDate"
    max-date="maxDate"
    ng-click="formCtrl.date[elem.fieldName].open($event)"
    close-text="Close" />
  <span class="input-group-addon" ng-click="formCtrl.date[elem.fieldName].open($event)">
    <i class="fa fa-calendar"></i>
  </span>
</div>
