<input
  type="text"
  class="form-control"
  ng-model="formCtrl.viewModel[elem.fieldName]"
  placeholder="{{ formCtrl.placeholder(elem.label, elem.placeholder) }}"
  ng-blur="formCtrl.validateField(elem.fieldName)"
  uib-typeahead="data.name for data in formCtrl.typeahead[elem.fieldName].get($viewValue)"
  uib-typeahead-loading="loadingRemoteData"
  uib-typeahead-on-select="formCtrl.typeahead[elem.fieldName].onSelect($item, $model, $label)"
  uib-typeahead-editable="formCtrl.typeahead[elem.fieldName].editable"
  class="form-control">

<i ng-show="loadingRemoteData" class="fa fa-refresh"></i>
