<div id="breadcrumbs" class="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="ace-icon fa fa-home home-icon"></i>
      <a ui-sref="home">Home</a>
    </li>
    <li class="active" ng-repeat="item in bcCtrl.breadcrumbs">
      <a ng-if="!item.last" ui-sref="{{item.url}}" ng-bind="item.name"></a>
      <span ng-if="item.last" ng-bind="item.name"></span>
    </li>
  </ul><!-- /.breadcrumb -->

  <!-- #section:basics/content.searchbox -->
  <!--div id="nav-search" class="nav-search">
    <form class="form-search">
								<span class="input-icon">
									<input type="text" autocomplete="off" id="nav-search-input" class="nav-search-input" placeholder="Search ...">
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
    </form>
  </div--><!-- /.nav-search -->

  <!-- /section:basics/content.searchbox -->
</div>