<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="page-header">
      <h1 class="clearfix">
        Systems Settings
        <div class="pull-right" ng-include="'components/form/partials/elements/submit-small.html'"></div>
      </h1>
    </div><!-- /.page-header -->

    <form>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-12">
            <div id="recent-box" class="widget-box transparent">
              <div class="widget-header">
                <h4 class="widget-title lighter smaller">

                </h4>

                <div class="widget-toolbar no-border">
                  <ul id="recent-tab" class="nav nav-tabs">
                    <li class="pointer" ng-class="{'active': formCtrl.active === 'database'}" ng-click="formCtrl.open('database')">
                      <a  data-toggle="tab">Database</a>
                    </li>

                    <li class="pointer" ng-class="{'active': formCtrl.active === 'ldap'}" ng-click="formCtrl.open('ldap')">
                      <a data-toggle="tab">LDAP</a>
                    </li>

                    <li class="pointer" ng-class="{'active': formCtrl.active === 'sms'}" ng-click="formCtrl.open('sms')">
                      <a data-toggle="tab">SMS</a>
                    </li>
                    <li class="pointer" ng-class="{'active': formCtrl.active === 'email'}" ng-click="formCtrl.open('email')">
                      <a data-toggle="tab">Email</a>
                    </li>
                    <li class="pointer" ng-class="{'active': formCtrl.active === 'system'}" ng-click="formCtrl.open('system')">
                      <a data-toggle="tab">System</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="widget-body" ng-include="formCtrl.template">

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12" ng-include="'components/form/partials/elements/submit.html'"></div>
      </div>
    </form>
  </div>
</div>
